lafresca.com {
	tls internal
	reverse_proxy la-fresca-frontend:3000
	redir /api /api/
	handle_path /api/* {
		rewrite * /api/lafresca{uri}
		reverse_proxy la-fresca-backend:8080
	}
	redir /upload /upload/
	handle_path /upload/* {
		rewrite * /upload{uri}
		reverse_proxy simple-upload:3000
	}
	redir /mongo-express /mongo-express/
	handle /mongo-express/* {
		reverse_proxy mongo-express:8081
	}
}
